{% extends 'main.html' %}
{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

This is the block of the content <br>
<div class='home-container'>
    <div>
        <h3>Browse Topics</h3>
        <hr> 
            <div>
                <a href="{% url 'home' %}">All</a>
            </div>
        {% for topic in topics %}
            <div>
                <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
            </div>
        {% endfor %}
    </div>
    <div>
        <h5>{{room_count}} rooms available</h5>
        <a href="{% url 'create-room' %}"> Create a room</a>
    <div>
    
        {% for room in rooms %}
        <ul>
            <li>
                <a href="{% url 'delete-room' room.id %}"> delete a room</a>
                <a href="{% url 'update-room' room.id %}"> update a room</a>
                <span>@{{room.host.username}}</span> <br><br>
                <a href="{% url 'room' room.id  %}"> {{room.name}} </a>
                <small>{{room.topic.name}}</small>
                <hr>
            </li>
        </ul>
    {% endfor %}
    </div>
    </div>
</div>



{% endblock content %}